@tailwind base;
@tailwind components;
@tailwind utilities;

.hor-scroll::-webkit-scrollbar {
  height: 1em;
}

.hor-scroll::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 100vw;
  margin-block: 0.5em;
}

.hor-scroll::-webkit-scrollbar-thumb {
  background: #969494;
  border: 0.25em solid #fff;
  border-radius: 100vw;
}

.hor-scroll::-webkit-scrollbar-thumb:hover {
  background: #bfbdbd;
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
